.spec-title{
    display: inline-block;
    width: 100px;
    text-align: right;
}
.label-span{
    border-radius: 5px;
    background: #b58052;
    padding: 2px 5px;
    margin: 0 5px;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
}
.colmt20{
    margin: 20px 0;position: relative;}
.colmt20 .input-group{
    width: 100%;}
.detail-spec-title{
    width: 100px;text-align: right;}
.d_tables {
    display: table;
    margin-top: -7px;
}
.d_tell{display: table-cell;}
.tit_text {
    width: 130px;
    vertical-align: middle;
}
.z0{z-index: 0;}
.upload{
    margin-top: -34px;
    width: 100%;
    height: 34px;
    z-index: 1;
    opacity: 0;
}