<form name='add' ng-submit="AddCouponCtrl.AddBtn()" >
    <div class="form-group" ng-class="{'has-error':add.name.$error.required&&add.name.$touched}">
        <label for="">优惠券名称</label>
        <input type="text" required name='name' ng-model="AddCouponCtrl.Coupon.name" class="form-control">
        <p class="error-text" ng-if="add.name.$error.required&&add.name.$touched">选项不可为空！</p>
    </div>
    <div class="form-group w100p" ng-class="{'has-error':add.isEnabled.$error.required&&add.isEnabled.$touched}">
        <label for="">是否有效</label>
        <select name="isEnabled" id="" class="form-control" ng-model="AddCouponCtrl.Coupon.isEnabled" required>
            <option value="" selected hidden>请选择</option>
            <option value="true">是</option>
            <option value="false">否</option>
        </select>
        <p class="error-text" ng-if="add.isEnabled.$error.required&&add.isEnabled.$touched">选项不可为空！</p>
    </div>
    <!--<div class="form-group w100p" ng-class="{'has-error':add.isEnabled.$error.required&&add.isEnabled.$touched}">
        <label for="">是否排他</label>
        <select name="exclusiveType" id="" class="form-control" ng-model="AddCouponCtrl.Coupon.exclusiveType" required>
            <option value="" selected hidden>请选择</option>
            <option value="EXCLUSIVE">只能单独使用</option>
            <option value="WHITE_LIST">与白名单优惠券共存</option>
        </select>
        <p class="error-text" ng-if="add.isEnabled.$error.required&&add.isEnabled.$touched">选项不可为空！</p>
    </div>-->
    <!--<coupon returnlist='AddCouponCtrl.whites' ></coupon>-->
    <div class="form-group" ng-class="{'has-error':add.priority.$error.required&&add.priority.$touched}">
        <label for="">优惠券优先级</label>
        <input type="number" name='priority' required class="form-control" ng-model="AddCouponCtrl.Coupon.priority">
        <p class="error-text" ng-if="add.priority.$error.required&&add.priority.$touched">选项不可为空！</p>
    </div>
    <div class="form-group" ng-class="{'has-error':add.description.$error.required&&add.description.$touched}">
        <label for="">优惠券描述</label>
        <textarea name="description" id="" required cols="30" ng-model='AddCouponCtrl.Coupon.description' rows="10" class="form-control"></textarea>
        <p class="error-text" ng-if="add.description.$error.required&&add.description.$touched">选项不可为空！</p>
    </div>
    <div class="form-group">
        <label for="">有效时间</label>
        <div>
            <div class="dropdown dib" style="width:400px;">
                <a class="dropdown-toggle" id="dropdown1" role="button" data-toggle="dropdown" data-target="#" href="javascript:;">
                    <div class="input-group">
                        <span class="input-group-addon">开始时间</span>
                        <input type="text" class="form-control" name='startTime' required data-ng-model="AddCouponCtrl.Coupon.startTime | date:'yyyy-MM-dd HH:mm'">
                        <span
                            class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <datetimepicker data-ng-model="AddCouponCtrl.Coupon.startTime" modelType='Date' date='Date' data-datetimepicker-config="{ dropdownSelector: '#dropdown1' }"
                    />
                </ul>
                <p class="error-text" ng-if='add.startTime.$error.required&&add.startTime.$touched'>选项为必填</p>
            </div>
            <div class="dropdown dib" style="width:400px;">
                <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="javascript:;">
                    <div class="input-group">
                        <span class="input-group-addon">开始时间</span>
                        <input type="text" class="form-control" name='endTime' required data-ng-model="AddCouponCtrl.Coupon.endTime | date:'yyyy-MM-dd HH:mm'">
                        <span
                            class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <datetimepicker data-ng-model="AddCouponCtrl.Coupon.endTime" modelType='Date' date='Date' data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"
                    />
                </ul>
                <p class="error-text" ng-if='add.startTime.$error.required&&add.startTime.$touched'>选项为必填</p>
            </div>
        </div>
    </div>
    <div class="form-group w100p" ng-class="{'has-error':add.userType.$error.required&&add.userType.$touched}" >
        <label for="">参与用户</label>
        <select name="userType" id="" required ng-model='AddCouponCtrl.Coupon.userType' class="form-control">
            <option value="" selected hidden>请选择</option>
            <option value="ALL_USER">全部用户</option>
            <option value="NEW_USER">新注册用户</option>
        </select>
        <p class="error-text" ng-if='add.userType.$error.required&&add.userType.$touched'>选项为必填</p>
    </div>
    <div class="form-group w100p" ng-class="{'has-error':add.storeType.$error.required&&add.storeType.$touched}" >
        <label for="">参与区域</label>
        <select name="storeType" required id="" class="form-control" ng-model="AddCouponCtrl.Coupon.storeType" >
            <option value="" selected hidden>请选择</option>
            <option value="ALL_STORE">全部门店</option>
            <option value="SELECTED_STORE">部分门店</option>
        </select>
        <p class="error-text" ng-if='add.storeType.$error.required&&add.storeType.$touched'>选项为必填</p>
    </div>
    <stores ng-show="AddCouponCtrl.Coupon.storeType=='SELECTED_STORE'" returnlist='AddCouponCtrl.storesId'></stores>
    <div class="form-group w100p" ng-class="{'has-error':add.specType.$error.required&&add.specType.$touched}" >
        <label for="">商品范围</label>
        <select name="specType" id="" required ng-model='AddCouponCtrl.Coupon.specType'  class="form-control">
            <option value="" selected hidden>请选择</option>
            <option value="ALL_SPEC">全场通用</option>
            <option value="SELECTED_SPEC">限定单品</option>
        </select>
        <p class="error-text" ng-if='add.specType.$error.required&&add.specType.$touched'>选项为必填</p>
    </div>
    <goods ng-show="AddCouponCtrl.Coupon.specType=='SELECTED_SPEC'" returnlist='AddCouponCtrl.goodId'></goods>
    <div class="form-group w200p" ng-if="AddCouponCtrl.Coupon.specType=='SELECTED_SPEC'" ng-class="{'has-error':add.specCountLimit.$error.required&&add.specCountLimit.$touched}" >
        <label for="">商品满</label>
        <div class="input-group">
            <input type="text" required name='specCountLimit' ng-model='AddCouponCtrl.Coupon.specCountLimit' class="form-control">
            <div class="input-group-addon">个可使用</div>
        </div>
        <p class="error-text" ng-if='add.specCountLimit.$error.required&&add.specCountLimit.$touched'>选项为必填</p>
    </div>
    <div class="form-group w100p" ng-class="{'has-error':add.isGood.$error.required&&add.isGood.$touched}" >
        <label for="">请选择订单条件</label>
        <select name="isGood" ng-model="AddCouponCtrl.Coupon.isGood" id="" class="form-control">
            <option value="" hidden selected >请选择</option>
            <option value="false">订单无关</option>
            <option value="true">订单金额</option>
        </select>
        <p class="error-text" ng-if='add.isGood.$error.required&&add.isGood.$touched'>选项为必填</p>
    </div>
    <div ng-if="AddCouponCtrl.Coupon.isGood=='true'" class="form-group w100p" ng-class="{'has-error':add.amountLimit.$error.required&&add.amountLimit.$touched}" >
        <label for="">订单满</label>
        <div class="input-group">
            <input type="text" required name='amountLimit' ng-model='AddCouponCtrl.Coupon.amountLimit' class="form-control">
            <div class="input-group-addon">元</div>
        </div>
        <p class="error-text" ng-if='add.amountLimit.$error.required&&add.amountLimit.$touched'>选项为必填</p>
    </div>
    <div class="form-group w100p" ng-class="{'has-error':add.type.$error.required&&add.type.$touched}" >
        <label for="">请选择优惠方式</label>
        <select name="type" required ng-model='AddCouponCtrl.Coupon.type' id="" class="form-control">
            <option value="" selected>请选择</option>
            <option value="CUT">满减</option>
        </select>
        <p class="error-text" ng-if='add.type.$error.required&&add.type.$touched'>选项为必填</p>
    </div>
    <div class="form-group w100p" ng-if="AddCouponCtrl.Coupon.type=='CUT'" ng-class="{'has-error':add.cutAmount.$error.required&&add.cutAmount.$touched}" >
        <label for="">满减金额</label>
        <div class="input-group">
            <input type="text" name='cutAmount' class="form-control" required ng-model='AddCouponCtrl.Coupon.cutAmount' >
            <div class="input-group-addon">元</div>
        </div>
        <p class="error-text" ng-if='add.cutAmount.$error.required&&add.cutAmount.$touched'>选项为必填</p>
        <p class="error-text" ng-if='add.cutAmount.$viewValue<=add.amountLimit.$viewValue&&add.cutAmount.$touched'>满减金额必须小于或者等于订单金额</p>
    </div>
    <div class="form-group">
        <label for="">
            请填写活动成本承担方和承担比例
            <a class="btn btn-primary" ng-click='AddCouponCtrl.AddcostSources()' >添加</a>
        </label>
        <div class="input" ng-repeat="item in AddCouponCtrl.Sources">
            <div class="input-tit">承担方选择</div>
            <select name={{'costSourceId'+$index}} id=""  ng-class="{'error-input':add.{{'costSourceId'+$index}}.$error.required&&add.{{'costSourceId'+$index}}.$touched}"  required  ng-model='item.costSourceId'  class="input-text" ng-options="a.id as a.name for a in AddCouponCtrl.resource" >
                <option value="" hidden selected >请选择</option>
            </select>
            <div class="input-tit">承担比例</div>
            <input type="text" class="input-text" required ng-model='item.ratio' name={{'ratio'+$index}} ng-class="{'error-input':add.{{'ratio'+$index}}.$error.required&&add.{{'ratio'+$index}}.$touched}" >
            <div class="input-btn">
                %&nbsp;&nbsp;
                <a class="btn btn-red" ng-click="AddCouponCtrl.Sources.splice($index,1)" >删除</a>
            </div>
            <div class="table-row">
                <div class="d_cell"></div>
                <div class="d_cell error-text" style="width:230px;">
                    <span ng-show="add.{{'costSourceId'+$index}}.$error.required&&add.{{'costSourceId'+$index}}.$touched" >选项为必填</span>
                </div>
                <div class="d_cell"></div>
                <div class="d_cell error-text" style="width:230px;">
                    <span ng-show="add.{{'ratio'+$index}}.$error.required&&add.{{'ratio'+$index}}.$touched">选项为必填</span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group text-center">
        <button class="btn btn-primary">保存</button>
        <button class="btn btn-primary" onclick='history.go(-1)' >取消</button>
    </div>
</form>