<div class="task">
	<div class="panel panel-default panel-border">
		<div class="panel-heading">活动基本信息</div>
		<div class="panel-body">
			<div class="form-lyout">
				<div class="form-title">活动名称</div>
				<div class="form-layout">
					<input type="text" class='form-control' placeholder="请输入活动名称" ng-model='taskCtrl.task.name' >
				</div>
			</div>
			<div class="form-lyout">
				<div class="form-title">是否有效</div>
				<div class="form-layout">
					<label class="radio-inline">
					  <input type="radio" name="enabled" value="true" ng-model='taskCtrl.task.enabled' > 是
					</label>
					<label class="radio-inline">
					  <input type="radio" name="enabled" value="false" ng-model='taskCtrl.task.enabled' checked > 否
					</label>
				</div>
			</div>
			<div class="form-lyout">
				<div class="form-title">活动优先级</div>
				<div class="form-layout">
					<input type="number" class='form-control' ng-model='taskCtrl.task.priority' placeholder="请输入优先级范围(1~120)" >
				</div>
			</div>
			<div class="form-lyout">
				<div class="form-title">活动排他性</div>
				<div class="form-layout">
					<div class="col-xs-6">
						<div class="radio">
						  <label>
						    <input type="radio" name="exclusives" value="true"  ng-model='taskCtrl.task.exclusive' checked>
						    是
						  </label>
						</div>
						<div class="radio">
						  <label>
						    <input type="radio" name="exclusives" value="false" ng-model='taskCtrl.task.exclusive' >
						    否
						  </label>
						</div>
					</div>
				</div>
			</div>
			<div class="form-lyout">
				<div class="form-title">活动简介</div>
				<div class="form-layout">
					<textarea name="" id="" cols="30" class='form-control' ng-model='taskCtrl.task.description' placeholder="请输入活动简介" rows="10"></textarea>
				</div>
			</div>
		</div>
	</div>
	<div class="panel panel-default panel-border">
		<div class="panel-heading">参与活动的对象及范围</div>
		<div class="panel-body">
			<div class="radio">
			  <label>
			    <input type="radio" name="userType"  ng-model='taskCtrl.task.userType' value="ALL_USER" checked>
			    全部用户
			  </label>
			</div>
			<div class="radio">
			  <label>
			    <input type="radio" name="userType"  ng-model='taskCtrl.task.userType' value="NEW_USER">
			    新注册用户
			  </label>
			</div>
		</div>
	</div>
	<div class="panel panel-default panel-border">
		<div class="panel-heading">参与区域</div>
		<div class="panel-body">
			<div class="radio">
			  <label>
			    <input type="radio" name="storeType" ng-model='taskCtrl.task.storeType' value='ALL_STORE' checked>
			    全部门店
			  </label>
			</div>
			<div class="radio">
			  <label>
			    <input type="radio" name="storeType" ng-model='taskCtrl.task.storeType' value='SELECTED_STORE'>
			    部分门店
			  </label>
			</div>
			<div class="storesFilter col-xs-12" ng-show='taskCtrl.task.storeType==="SELECTED_STORE"' >
				<div class="col-xs-6">
					<p class='Filter-title'>
						全部门店
						<a href="javascript:;" class="btn btn-turquoise pull-right" ng-click='taskCtrl.TopStore()' >添加</a>
					</p>
					<table ng-table="taskCtrl.StroesList" class="table table-bordered table-striped table-condensed text-center">
							<tr ng-repeat="item in $data">
								<td width='50' header="'Storescheck.html'" >
									<input type="checkbox" ng-true-value='true' ng-false-value='false' ng-disabled="!item.status" ng-model="item.active" style="margin-right:5px;">{{$index+1>9?$index+1:'0'+($index+1)}}
								</td>
									<td width='100' data-title="'门店品牌'" filter="{brand: 'text'}" sortable="'name'" >{{item.brand.name}}</td>
									<td width='100' data-title="'门店类型'" filter="{type: 'text'}" sortable="'type'" >
										<span ng-show='item.type=="DIRECT_STORE"'>连锁店</span>
										<span ng-show='item.type=="FRANCHISED_STORE"'>加盟店</span>
									</td>
									<td data-title="'门店区域'" filter="{'source': 'text'}" sortable="'brand.name'" >{{item.areas[2].name+'-'+item.areas[3].name}}</td>
									<td data-title="'门店名称'" filter="{'name': 'text'}" >{{item.name}}</td>
									<td data-title="'操作'">
											<a href="javascript:;" class="btn btn-primary" ng-disabled="!item.status" ng-click='taskCtrl.AddStores(item)' >添加</a>
									</td>
							</tr>
					</table>

				</div>
				<div class="col-xs-6 ">
					<p class='Filter-title'>
						已选门店
						<a href="javascript:;" class="btn btn-red pull-right" ng-click="taskCtrl.delStores(null)" >删除</a>
					</p>
					<table class="table-bordered table-striped table-condensed text-center col-xs-12 ">
						<tr>
							<th width='50'><input type="checkbox" class='form-contol'  ng-click='taskCtrl.All("DelStore")'></th>
							<th>门店名称</th>
							<th>门店区域</th>
							<th width='50'>操作</th>
						</tr>
						<tr ng-repeat='list in taskCtrl.FilterStores'>
							<td>
								<input type="checkbox" ng-true-value='true' ng-false-value='false' ng-model="list.check" style="margin-right:5px;">{{$index+1>9?$index+1:'0'+($index+1)}}
							</td>
							<td>{{list.name}}</td>
							<td>2</td>
							<td>
								<a href="javascript:;" class="btn btn-primary" ng-click='taskCtrl.delStores($index)' >删除</a>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="panel panel-default panel-border">
		<div class="panel-heading">参与时间与次数</div>
		<div class="panel-body">
			<div class="col-xs-6">
				<div class="form-lyout">
					<div class="form-title">有效时间</div>
					<div class="form-layout">
						<div class="input-group">
							<div class="input-group-addon">从</div>
							<input type="text" class="form-control" uib-datepicker-popup ng-model="taskCtrl.task.startTime" is-open="open1" datepicker-options="dateOptions"
								ng-required="true" close-text="关闭" clear-text='清空' current-text='今天' />
							<span class="input-group-btn  vt">
								<button type="button" class="btn btn-default time-right m0" ng-click="open1=true"><i class="glyphicon glyphicon-calendar"></i></button>
							</span>
							<div class="input-group-addon">到</div>
							<input type="text" class="form-control" uib-datepicker-popup ng-model="taskCtrl.task.endTime" is-open="open2" datepicker-options="dateOptions"
								ng-required="true" close-text="关闭" clear-text='清空' current-text='今天' />
							<span class="input-group-btn  vt">
								<button type="button" class="btn btn-default time-right m0" ng-click="open2=true"><i class="glyphicon glyphicon-calendar"></i></button>
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="form-lyout">
					<div class="form-title">参与次数</div>
						<div class="form-layout">
						<div class="radio">
						  <label>
						    <input type="radio" name="timesLimitType" ng-model='taskCtrl.task.timesLimitType' value="NO_LIMIT" checked>
						    无限制
						  </label>
						</div>
						<div class="radio">
						  <label>
						    <input type="radio" name="timesLimitType" ng-model='taskCtrl.task.timesLimitType' value="CONTINUOUS">
						    限制次数
						  </label>
							<input type="text" ng-disabled="taskCtrl.task.timesLimitType!='CONTINUOUS'" class="input_radio" ng-model='taskCtrl.task.timesLimit'>次
						</div>
						<div class="radio">
						  <label>
						    <input type="radio" name="timesLimitType" ng-model='taskCtrl.task.timesLimitType' value="RECURRENT">
						    限制周期
						    &nbsp;周期<input type="text" ng-model="taskCtrl.task.timesLimitCycle" ng-disabled="taskCtrl.task.timesLimitType!='RECURRENT'" class="input_radio">天内<input type="text" ng-model='taskCtrl.task.timesLimit' ng-disabled="taskCtrl.task.timesLimitType=='CONTINUOUS'" class="input_radio">次
						  </label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="panel panel-default panel-border">
			<div class="panel-body">
					<div class="form-lyout">
						<div class="form-title">选择促销商品范围:</div>
						<div class="form-layout">
							<label class="radio-inline">
								<input type="radio" name="productType" value="ALL_PRODUCT" ng-model='taskCtrl.task.productType' > 全场通用
							</label>
								<label class="radio-inline">
								<input type="radio" name="productType" value="SELECTED_PRODUCT" ng-model='taskCtrl.task.productType' > 限定单品
							</label>
						</div>
					</div>
				<div class="col-xs-12 p0" ng-show="taskCtrl.task.productType==='SELECTED_PRODUCT'" >
						<div class="col-xs-6 p0" style="padding-right:5px;" >
								<div class="panel panel-default panel-border">
									<div class="panel-body">
										<p class="Filter-title">
											全部商品
											<a href="javascript:;" class="btn btn-turquoise pull-right" ng-click="taskCtrl.SpecsAll()">添加</a>
										</p>
											<table ng-table="taskCtrl.GoodList" class="table table-bordered table-striped table-condensed text-center">
													<tr ng-repeat="item in $data track by $index">
														<td width='50' header="'Specscheck.html'" >
															<input type="checkbox" ng-true-value='true' ng-false-value='false' ng-disabled="!item.status" ng-model="item.active" style="margin-right:5px;">{{$index+1>9?$index+1:'0'+($index+1)}}
														</td>
															<td width='100' data-title="'门店品牌'" filter="{'providerBrand.name': 'text'}" sortable="'name'" >{{item.providerBrand.name}}</td>
															<td width='100' data-title="'一级分类'" filter="{'categories.data.name': 'text'}" sortable="'name'" >{{item.categories.data.name}}</td>
															<td data-title="'二级分类'" filter="{'categories.children.name': 'text'}" sortable="'name'" >{{item.categories.children.name}}</td>
															<td data-title="'名称'" filter="{'name': 'text'}" >{{item.name}}</td>
															<td data-title="'规格'" filter="{'spec.name': 'text'}" >{{item.spec.name}}</td>
															<td data-title="'操作'">
																	<a href="javascript:;" class="btn btn-primary" ng-disabled="!item.status" ng-click='taskCtrl.AddSpecs(item)' >添加</a>
															</td>
													</tr>
											</table>
									</div>
								</div>
						</div>
						<div class="col-xs-6 p0" style="padding-left:5px;" >
								<div class="panel panel-default panel-border">
									<div class="panel-body">
										<p class="Filter-title">
											已选商品
											<a href="javascript:;" class="btn btn-turquoise pull-right" ng-click="taskCtrl.delSpecs()">删除</a>
										</p>
											<table ng-table="taskCtrl.specList" class="table table-bordered table-striped table-condensed text-center">
													<tr ng-repeat="item in $data track by $index">
														<td width='50' header="'DelSpecscheck.html'" >
															<input type="checkbox" ng-true-value='true' ng-false-value='false' ng-disabled="item.status" ng-model="item.check" style="margin-right:5px;">{{$index+1>9?$index+1:'0'+($index+1)}}
														</td>
															<td width='100' data-title="'门店品牌'" filter="{'providerBrand.name': 'text'}" sortable="'name'" >{{item.providerBrand.name}}</td>
															<td width='100' data-title="'一级分类'" filter="{'categories.data.name': 'text'}" sortable="'name'" >{{item.categories.data.name}}</td>
															<td data-title="'二级分类'" filter="{'categories.children.name': 'text'}" sortable="'name'" >{{item.categories.children.name}}</td>
															<td data-title="'名称'" filter="{'name': 'text'}" >{{item.name}} </td>
															<td data-title="'规格'" filter="{'spec.name': 'text'}" >{{item.spec.name}}</td>
															<td data-title="'操作'">
																<a href="javascript:;" class="btn btn-primary" ng-disabled="item.status" ng-click='taskCtrl.delSpecs($index,item.spec.id)' >删除</a>
															</td>
													</tr>
											</table>
									</div>
								</div>
						</div>
				</div>
			</div>
	</div>
	<div class="panel panel-default panel-border">
		<div class="panel-heading">活动促销方式</div>
		<div class="panel-body">
					<label class="radio-inline">
					  <input type="radio" name="amount" value="true" ng-model='taskCtrl.task.amount' > 订单无关
					</label>
						<label class="radio-inline">
					  <input type="radio" name="amount" value="true" ng-change="amount=true" ng-model='taskCtrl.task.amount' > 订单满
						<input type="text" class="input_radio" ng-model="taskCtrl.task.amountLimit" ng-disabled="!amount" >元
					</label>
		</div>
	</div>
	<div class="panel panel-default panel-border">
		<div class="panel-heading">请选择优惠方式</div>
		<div class="panel-body">
				<div class="radio">
					<label>
						<input type="radio" name="type" value="CUT" ng-change="hide=true;hide2=false;hide3=false;" ng-model='taskCtrl.task.type' > 
						订单减免
						<input type="text" ng-disabled="!hide" ng-model='taskCtrl.task.formulaParameter.cutAmount' class="input_radio">
						元
					</label>
				</div>
				<div class="radio">
					<label>
						<input type="radio" name="type" value="RANDOM_CUT" ng-change="hide2=true;hide3=false;hide=false;" ng-model='taskCtrl.task.type' >
						随机减免
						<input type="text" ng-disabled="!hide2" class="input_radio" ng-model="taskCtrl.task.formulaParameter.randomStart">
						%到
						<input type="text" ng-disabled="!hide2" class="input_radio" ng-model="taskCtrl.task.formulaParameter.randomEnd">
					</label>
				</div>
				<div class="radio">		
					<label>
						<input type="radio" name="type" value="DISCOUNT" ng-model='taskCtrl.task.type' ng-change='hide=false;hide2=false;hide3=true' >
						订单折扣<input  ng-disabled="!hide3" type="text" class="input_radio">
						%
					</label>
				</div>
				<div class="radio">		
					<label>
						<input type="radio" name="type" value="COUPON" ng-model='taskCtrl.task.type' > 订单赠品
					</label>
				</div>
				<div class="radio">		
					<label>
						<input type="radio" name="type" value="GIFT" ng-model='taskCtrl.task.type' > 连贯促销
					</label>
				</div>
		</div>
	</div>
	<div class="col-xs-12 taskBtn">
		<a href="javascript:;" class="btn btn-primary" ng-click='taskCtrl.AddTask()' >保存</a>
		<a href="javascript:;" class="btn btn-primary">取消</a>
	</div>
</div>
<script  type="text/ng-template" id="Storescheck.html" >
	<input type="checkbox" ng-click='taskCtrl.All("AddStore")' >
</script>
<script  type="text/ng-template" id="DelStores.html" >
	<input type="checkbox" ng-click='taskCtrl.All("DelStore")' >
</script>
<script  type="text/ng-template" id="Specscheck.html" >
	<input type="checkbox" ng-click='taskCtrl.All("AddSpecs")' >
</script>
<script  type="text/ng-template" id="DelSpecscheck.html" >
	<input type="checkbox" ng-click='taskCtrl.All("DelSpecs")' >
</script>