<form name='add' ng-submit="taskCtrl.AddTask()">
	<div class="task">
		<div class="panel panel-default panel-border">
			<div class="panel-heading">活动基本信息</div>
			<div class="panel-body">
				<!--<div class="form-lyout">
					<div class="form-title">活动名称</div>
					<div class="form-layout">
						<input type="text" class='form-control' placeholder="请输入活动名称" ng-model='taskCtrl.task.name'>
					</div>
				</div>-->

				<div class="form-group" ng-class="{'has-error':add.name.$error.required&&add.name.$touched}">
					<label for="">活动名称</label>
					<input type="text" name='name' class="form-control" required placeholder="请输入活动名称" ng-model='taskCtrl.task.name'>
					<p class="error-text" ng-if='add.name.$error.required&&add.name.$touched'>名称不能为空</p>
				</div>

				<div class="form-group" ng-class="{'has-error':add.enabled.$error.required&&add.enabled.$touched}">
					<label for="">是否有效</label>
					<select required class="form-control w200p" name='enabled' ng-model='taskCtrl.task.enabled'>
						<option value="" selected>请选择</option>
						<option value="true">是</option>
						<option value="false">否</option>
					</select>
					<p class="error-text" ng-if='add.enabled.$error.required&&add.enabled.$touched'>选项为必填</p>
				</div>

				<!--<div class="form-lyout">
					<div class="form-title">是否有效</div>
					<div class="form-layout">
						<label class="radio-inline">
					  <input type="radio" name="enabled" value="true" ng-model='taskCtrl.task.enabled' > 是
					</label>
						<label class="radio-inline">
					  <input type="radio" name="enabled" value="false" ng-model='taskCtrl.task.enabled' checked > 否
					</label>
					</div>
				</div>-->
				<!--<div class="form-lyout">
					<div class="form-title">活动优先级</div>
					<div class="form-layout">
						<input type="number" class='form-control' ng-model='taskCtrl.task.priority' placeholder="请输入优先级范围(1~120)">
					</div>
				</div>-->

				<div class="form-group" ng-class="{'has-error':add.priority.$error.required&&add.priority.$touched}">
					<label for="">活动优先级</label>
					<input type="number" class='form-control' name='priority' required ng-model='taskCtrl.task.priority' placeholder="请输入优先级范围(1~120)">
					<p class="error-text" ng-if='add.priority.$error.required&&add.priority.$touched'>优先级为正整数且不能为空！</p>
				</div>

				<div class="form-group" ng-class="{'has-error':add.exclusives.$error.required&&add.exclusives.$touched}">
					<label for="">活动排他性</label>
					<select name="exclusives" id="" required class="form-control w200p" ng-model='taskCtrl.task.exclusive'>
						<option value="" selected hidden>请选择</option>
						<option value="true">是</option>
						<option value="false">否</option>
					</select>
					<p class="error-text" ng-if='add.exclusives.$error.required&&add.exclusives.$touched'>选项为必填</p>
				</div>

				<!--<div class="form-lyout">
					<div class="form-title">活动排他性</div>
					<div class="form-layout">
						<div class="col-xs-6">
							<div class="radio">
								<label>
						    <input type="radio" name="exclusives" value="true"  ng-model='taskCtrl.task.exclusive' checked>
						    是
						  </label>
							</div>
							<div class="radio">
								<label>
						    <input type="radio" name="exclusives" value="false" ng-model='taskCtrl.task.exclusive' >
						    否
						  </label>
							</div>
						</div>
					</div>
				</div>-->
				<!--<div class="form-lyout">
					<div class="form-title">活动简介</div>
					<div class="form-layout">
						<textarea name="" id="" cols="30" class='form-control' ng-model='taskCtrl.task.description' placeholder="请输入活动简介" rows="10"></textarea>
					</div>
				</div>-->

				<div class="form-group" ng-class="{'has-error':add.description.$error.required&&add.description.$touched}">
					<label for="">活动简介</label>
					<textarea name="description" required class="form-control" id="" ng-model='taskCtrl.task.description' cols="30" rows="10"></textarea>
					<p class="error-text" ng-if='add.description.$error.required&&add.description.$touched'>选项为必填</p>
				</div>
				<div class="form-group" ng-class="{'has-error':add.userType.$error.required&&add.userType.$touched}">
					<label for="">用户范围</label>
					<select name="userType" id="" required class="form-control w200p" ng-model='taskCtrl.task.userType'>
						<option value="" selected hidden>请选择</option>
						<option value="ALL_USER">全部用户</option>
						<option value="NEW_USER">新注册用户</option>
					</select>
					<p class="error-text" ng-if='add.userType.$error.required&&add.userType.$touched'>选项为必填</p>
				</div>
				<div class="form-group" ng-class="{'has-error':add.storeType.$error.required&&add.storeType.$touched}">
					<label for="">门店范围</label>
					<select name="storeType" id="" required class="form-control w200p" ng-model='taskCtrl.task.storeType'>
						<option value="" selected hidden>请选择</option>
						<option value="ALL_STORE">全部门店</option>
						<option value="SELECTED_STORE">部分门店</option>
					</select>
					<p class="error-text" ng-if='add.storeType.$error.required&&add.storeType.$touched'>选项为必填</p>
				</div>
				<stores ng-show="taskCtrl.task.storeType=='SELECTED_STORE'" returnlist='taskCtrl.task.storesId'></stores>
				<div class="form-group">
					<label for="">有效日期</label>
					<div>
						<div class="dropdown dib" style="width:400px;">
							<a class="dropdown-toggle" id="dropdown1" role="button" data-toggle="dropdown" data-target="#" href="javascript:;">
								<div class="input-group">
									<span class="input-group-addon">开始时间</span>
									<input type="text" class="form-control" name='startTime' required data-ng-model="taskCtrl.task.startTime | date:'yyyy-MM-dd HH:mm'"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
								</div>
							</a>
							<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
								<datetimepicker data-ng-model="taskCtrl.task.startTime" modelType='Date'  date='Date'  data-datetimepicker-config="{ dropdownSelector: '#dropdown1' }" />
							</ul>
							<p class="error-text" ng-if='add.startTime.$error.required&&add.startTime.$touched'>选项为必填</p>
						</div>
						<div class="dropdown dib" style="width:400px;">
							<a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="javascript:;">
								<div class="input-group">
									<span class="input-group-addon">结束时间</span>
									<input type="text" class="form-control" name='endTime' required data-ng-model="taskCtrl.task.endTime | date:'yyyy-MM-dd HH:mm'"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
								</div>
							</a>
							<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
								<datetimepicker data-ng-model="taskCtrl.task.endTime" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }" />
							</ul>
							<p class="error-text" ng-if='add.endTime.$error.required&&add.endTime.$touched'>选项为必填</p>
						</div>
					</div>
					<!--<div class="input">
						<div class="input-tit">结束时间</div>
						<input type="text" placeholder="请输入有效时间结束" class="input-text" uib-datepicker-popup ng-model="taskCtrl.task.endTime" is-open="open2"
							datepicker-options="taskCtrl.date" ng-required="true" close-text="关闭" clear-text='清空' current-text='今天' />
						<span class="input-btn  vt">
							<button type="button" class="btn btn-default time-right m0" ng-click="open2=true"><i class="glyphicon glyphicon-calendar"></i></button>
						</span>
					</div>-->
				</div>
				<div class="form-group" ng-class="{'has-error':add.timesLimitType.$error.required&&add.timesLimitType.$touched}">
					<label for="">参与次数</label>
					<select name="timesLimitType" id="" required class="form-control w200p" ng-model='taskCtrl.task.timesLimitType'>
						<option value="" selected hidden>请选择</option>
						<option value="NO_LIMIT">无限制</option>
						<option value="CONTINUOUS">限制次数</option>
						<option value="RECURRENT">限制周期</option>
					</select>
					<p class="error-text" ng-if='add.timesLimitType.$error.required&&add.timesLimitType.$touched'>选项为必填</p>
				</div>
				<div class="form-group" ng-if="taskCtrl.task.timesLimitType=='CONTINUOUS'" ng-class="{'has-error':add.timesLimit.$error.required&&add.timesLimit.$touched}">
					<label for="">参与次数</label>
					<div class="input">
						<div class="input-tit">只可参加</div>
						<input name="timesLimit" type="text" required class="input-text w50p" ng-model='taskCtrl.task.timesLimit'>
						<div class="input-tit">次</div>
					</div>
					<p class="error-text" ng-if='add.timesLimit.$error.required&&add.timesLimit.$touched'>选项为必填</p>
				</div>
				<div class="form-group" ng-if="taskCtrl.task.timesLimitType=='RECURRENT'" ng-class="{'has-error':(add.timesLimitType.$error.required&&add.timesLimitType.$touched)||(add.timesLimit.$error.required&&add.timesLimit.$touched)}">
					<label for="">参与次数</label>
					<div class="input">
						<div class="input-tit">周期天数</div>
						<input type="text" name="timesLimitCycle" required ng-model="taskCtrl.task.timesLimitCycle" class="input-text w50p">
						<div class="input-tit">天内参加次数</div>
						<input type="text" name="timesLimit" required class="input-text w50p" ng-model='taskCtrl.task.timesLimit'>
						<div class="input-tit">次</div>
					</div>
					<p class="error-text" ng-if='(add.timesLimitCycle.$error.required&&add.timesLimitCycle.$touched)||(add.timesLimit.$error.required&&add.timesLimit.$touched)'>内容为必填</p>
				</div>
				<div class="form-group" ng-class="{'has-error':add.productType.$error.required&&add.productType.$touched}">
					<label for="">选择促销商品范围</label>
					<select name="productType" required id="" class="form-control w200p" ng-model='taskCtrl.task.productType'>
						<option value="" selected hidden>请选择</option>
						<option value="ALL_PRODUCT">全场通用</option>
						<option value="SELECTED_PRODUCT">限定单品</option>
					</select>
					<p class="error-text" ng-if='add.productType.$error.required&&add.productType.$touched'>选项为必填</p>
				</div>
				<goods returnlist='taskCtrl.task.goodsId' ng-show="taskCtrl.task.productType=='SELECTED_PRODUCT'"></goods>
				<div class="form-group" ng-if="taskCtrl.task.productType=='SELECTED_PRODUCT'" ng-class="{'has-error':add.isBuy.$error.required&&add.isBuy.$touched}">
					<label for="">是否商品限购</label>
					<select name="isBuy" required class="form-control w200p" ng-model='taskCtrl.task.isBuy'>
						<option value="" selected hidden>请选择</option>
						<option value="true">是</option>
						<option value="false">否</option>
					</select>
					<p class="error-text" ng-if='add.isBuy.$error.required&&add.isBuy.$touched'>选项为必填</p>
				</div>
				<div class="form-group" ng-if="taskCtrl.task.isBuy.$view=='true'" ng-class="{'has-error':add.isBuy.$error.required&&add.isBuy.$touched}">
					<label for="">限购次数</label>
					<div class="input">
						<div class="input-tit">最多可购</div>
						<input type="text" class="input-text w50p" ng-model='taskCtrl.task.productCountLimit'>
						<div class="input-tit">次</div>
					</div>
					<p class="error-text" ng-if='add.isBuy.$error.required&&add.isBuy.$touched'>选项为必填</p>
				</div>
				<div class="form-group" ng-class="{'has-error':add.isGood.$error.required&&add.isGood.$touched}">
					<label for="">活动促销方式</label>
					<select name="isGood" id="" required class="form-control w200p" ng-model='taskCtrl.task.isGood'>
						<option value="" selected hidden>请选择</option>
						<option value="false">订单无关</option>
						<option value="true">订单相关</option>
					</select>
					<p class="error-text" ng-if='add.isGood.$error.required&&add.isGood.$touched'>选项为必填</p>
				</div>
				<div class="form-group" ng-if="taskCtrl.task.isGood=='true'" ng-class="{'has-error':add.productCountLimit.$error.required&&add.productCountLimit.$touched}">
					<label for="">订单筛选</label>
					<div class="input">
						<div class="input-tit">订单金额</div>
						<input type="text" name="productCountLimit" required class="input-text w50p" ng-model='taskCtrl.task.amountLimit'>
						<div class="input-tit">元</div>
					</div>
					<p class="error-text" ng-if='add.amountLimit.$error.required&&add.amountLimit.$touched'>选项为必填</p>
				</div>
				<div class="form-group" ng-class="{'has-error':add.type.$error.required&&add.type.$touched}">
					<div class="col-xs-6 p0">
						<label for="">选择优惠方式</label>
						<select name="type" required id="" class="form-control w200p" ng-model='taskCtrl.task.type'>
							<option value="" selected hidden>请选择</option>
							<option value="CUT">订单减免</option>
							<option value="RANDOM_CUT">随机减免</option>
							<option value="GIFT">订单赠品</option>
							<option value="COUPON">优惠券</option>
						</select>
						<p class="error-text" ng-if='add.type.$error.required&&add.type.$touched'>选项为必填</p>
					</div>
					<div class="col-xs-6 p0" ng-if="!add.type.$error.required">
						<label for="">优惠选项</label>
						<select name="" id="" ng-model='taskCtrl.task.couponTemplateId' class="form-control" ng-options="a.id as a.name for a in taskCtrl.CouponList">
							<option value="">请选择</option>
						</select>
						<div class='panel panel-default panel-border' ng-if="taskCtrl.task.type=='RANDOM_CUT'">
							<div class="panel-heading">
								<a href="javascript:;" class="btn btn-primary" ng-click="taskCtrl.Addinterval()">添加</a>
								<span>ps:1元至5元总概率50%,总规则概率为100%</span>
							</div>
							<div class="panel-body">
								<div class='admin-input-lyout' ng-repeat="item in taskCtrl.interval">
									<div class="admin-input-title">规则:</div>
									<div class='admin-input'>
										<input type="text" ng-model="item.start">
										<span>元至</span>
										<input type="text" ng-model='item.end'>
										<span>元总概率</span>
										<input type="text" ng-model='item.count'>
										<span>%</span>
										<a href='javascript:;' class="btn btn-red" ng-click="taskCtrl.Delinterval($index)">删除</a>
									</div>
								</div>
							</div>
						</div>
						<div class='panel panel-default panel-border' ng-if="taskCtrl.task.type=='GIFT'">
							<div class="panel-heading">
								赠品列表
							</div>
							<div class="panel-body">
								<prems returnlist='taskCtrl.task.prems'></prems>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="panel panel-default panel-border" ng-if="false">
			<div class="panel-heading">参与活动的对象及范围</div>
			<div class="panel-body">



				<!--<div class="radio">
					<label>
			    <input type="radio" name="userType"  ng-model='taskCtrl.task.userType' value="ALL_USER" checked>
			    全部用户
			  </label>
				</div>
				<div class="radio">
					<label>
			    <input type="radio" name="userType"  ng-model='taskCtrl.task.userType' value="NEW_USER">
			    新注册用户
			  </label>
				</div>-->
			</div>
		</div>
		<div class="panel panel-default panel-border" ng-if="false">
			<div class="panel-heading">参与区域</div>
			<div class="panel-body">



				<!--<div class="radio">
					<label>
			    <input type="radio" name="storeType" ng-model='taskCtrl.task.storeType' value='ALL_STORE' checked>
			    全部门店
			  </label>
				</div>
				<div class="radio">
					<label>
			    <input type="radio" name="storeType" ng-model='taskCtrl.task.storeType' value='SELECTED_STORE'>
			    部分门店
			  </label>
				</div>-->

			</div>
		</div>
		<div class="panel panel-default panel-border" ng-if="false">
			<div class="panel-heading">参与时间与次数</div>
			<div class="panel-body">
				<!--<div class="form-lyout">
						<div class="form-title">有效日期</div>
						<div class="form-layout">
							<div class="input-group">
								<div class="input-group-addon">从</div>
								<input type="text" placeholder="请输入有效时间启始" class="form-control" uib-datepicker-popup ng-model="taskCtrl.task.startTime" is-open="open1"
									datepicker-options="taskCtrl.date" ng-required="true" close-text="关闭" clear-text='清空' current-text='今天' />
								<span class="input-group-btn  vt">
								<button type="button" class="btn btn-default time-right m0" ng-click="open1=true"><i class="glyphicon glyphicon-calendar"></i></button>
							</span>
								<div class="input-group-addon">到</div>
								<input type="text" placeholder="请输入有效时间结束" class="form-control" uib-datepicker-popup ng-model="taskCtrl.task.endTime" is-open="open2"
									datepicker-options="taskCtrl.date" ng-required="true" close-text="关闭" clear-text='清空' current-text='今天' />
								<span class="input-group-btn  vt">
								<button type="button" class="btn btn-default time-right m0" ng-click="open2=true"><i class="glyphicon glyphicon-calendar"></i></button>
							</span>
							</div>
						</div>
					</div>-->

				<!--<div class="form-lyout">
						<div class="form-title">有效时间</div>
						<div class="form-layout">
							<div class="input-group mt10">
								<span class="input-group-addon">有效时间</span>
								<input type="text" class="form-control">
							</div>
							<div class="input-group mt10">
								<span class="input-group-addon">有效时间</span>
								<input type="text" class="form-control">
							</div>
						</div>
					</div>-->
				<!--<div class="form-lyout">
						<div class="form-title">参与次数</div>
						<div class="form-layout">
							<div class="radio">
								<label>
						    <input type="radio" name="timesLimitType" ng-model='taskCtrl.task.timesLimitType' value="NO_LIMIT" checked>
						    无限制
						  </label>
							</div>
							<div class="radio">
								<label>
						    <input type="radio" name="timesLimitType" onkeyup="value=value.replace(/[^\d]/g,'')" ng-model='taskCtrl.task.timesLimitType' value="CONTINUOUS">
						    限制次数
						  </label>
								<input type="text" ng-disabled="taskCtrl.task.timesLimitType!='CONTINUOUS'" onkeyup="value=value.replace(/[^\d]/g,'')" class="input_radio"
									ng-model='taskCtrl.task.timesLimit'>次
							</div>
							<div class="radio">
								<label>
						    <input type="radio" name="timesLimitType" ng-model='taskCtrl.task.timesLimitType' value="RECURRENT">
						    限制周期
						    &nbsp;周期<input type="text" ng-model="taskCtrl.task.timesLimitCycle" onkeyup="value=value.replace(/[^\d]/g,'')" ng-disabled="taskCtrl.task.timesLimitType!='RECURRENT'" class="input_radio">天内<input type="text" ng-model='taskCtrl.task.timesLimit' ng-disabled="taskCtrl.task.timesLimitType=='CONTINUOUS'" onkeyup="value=value.replace(/[^\d]/g,'')" class="input_radio">次
						  </label>
							</div>
						</div>
					</div>-->
				< </div>
			</div>
			<div class="panel panel-default panel-border" ng-if="false">
				<div class="panel-body">
					<!--<div class="form-lyout">
					<div class="form-title">选择促销商品范围:</div>
					<div class="form-layout">
						<label class="radio-inline">
						<input type="radio" name="productType" value="ALL_PRODUCT" ng-model='taskCtrl.task.productType' > 全场通用
					</label>
						<label class="radio-inline">
						<input type="radio" name="productType" value="SELECTED_PRODUCT" ng-model='taskCtrl.task.productType' > 限定单品
					</label>
					</div>
				</div>-->
				</div>
			</div>
			<div class="panel panel-default panel-border" ng-show="taskCtrl.task.productType=='SELECTED_PRODUCT'" ng-if="false">
				<div class="panel-body">



					<!--<div class="form-title">商品限购</div>
					<div class="form-layout">
						<label class="radio-inline">
						<input type="radio" name="timesLimitType" value='0' ng-model='productCountLimit' > 不限数量
					</label>
						<label class="radio-inline">
						<input type="radio" onkeyup="value=value.replace(/[^\d]/g,'')" name="timesLimitType" ng-model='productCountLimit' value="1">
						限制<input type="text" onkeyup="value=value.replace(/[^\d]/g,'')" ng-disabled="productCountLimit=='0'" class="input_radio"   ng-model='taskCtrl.task.productCountLimit'>件
					</label>
					</div>
				</div>-->
				</div>
			</div>
			<div class="panel panel-default panel-border" ng-if="false">
				<div class="panel-heading">活动促销方式</div>
				<div class="panel-body">
					<!--<label class="radio-inline">
				<input type="radio" name="amount" value='' ng-model='taskCtrl.task.amount' > 订单无关
			</label>
				<label class="radio-inline">
					  <input type="radio" name="amount" value='false' ng-model='taskCtrl.task.amount' checked > 订单满
						<input type="number" class="input_radio"   ng-model="taskCtrl.task.amountLimit" ng-disabled="!taskCtrl.task.amount" >元
					</label>-->


				</div>
			</div>
			<div class="panel panel-default panel-border" ng-if="false">
				<div class="panel-heading">请选择优惠方式</div>
				<div class="panel-body">
					<div class="col-xs-12">
						<div class="col-xs-2">
							<div class="radio">
								<label>
							<input type="radio" name="type" value="CUT" ng-change="hide=true;hide2=false;hide3=false;" ng-model='taskCtrl.task.type' >
							订单减免
							<input type="number" ng-disabled="!hide"   ng-model='taskCtrl.task.formulaParameter.cutAmount' class="input_radio">
							元
						</label>
							</div>
							<div class="radio">
								<label>
							<input type="radio" name="type" value="RANDOM_CUT" ng-change="hide2=true;hide3=false;hide=false;" ng-model='taskCtrl.task.type' >
							随机减免
						</label>
							</div>
							<!--<div class="radio">
						<label>
								<input type="radio" name="type" value="DISCOUNT" ng-model='taskCtrl.task.type' ng-change='hide=false;hide2=false;hide3=true' >
								订单折扣<input  ng-disabled="!hide3" type="text" class="input_radio">
								%
							</label>
					</div>-->
							<div class="radio">
								<label>
							<input type="radio" name="type" value="GIFT" ng-model='taskCtrl.task.type' > 订单赠品
						</label>
							</div>
						</div>
						<div class="col-xs-10" ng-show="taskCtrl.task.type=='RANDOM_CUT'">
							<div class='panel panel-default panel-border'>
								<div class="panel-heading">
									<a href="javascript:;" class="btn btn-primary" ng-click="taskCtrl.Addinterval()">添加</a>
									<span>ps:1元至5元总概率50%,总规则概率为100%</span>
								</div>
								<div class="panel-body">
									<div class='admin-input-lyout' ng-repeat="item in taskCtrl.interval">
										<div class="admin-input-title">规则:</div>
										<div class='admin-input'>
											<input type="text" ng-model="item.start">
											<span>元至</span>
											<input type="text" ng-model='item.end'>
											<span>元总概率</span>
											<input type="text" ng-model='item.count'>
											<span>%</span>
											<a href="javascript:;" class="btn btn-red" ng-click="taskCtrl.Delinterval($index)">删除</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-10" ng-show="taskCtrl.task.type=='GIFT'">
							<div class='panel panel-default panel-border'>
								<div class="panel-heading">
									赠品列表
								</div>
								<div class="panel-body">
									<prems returnlist='taskCtrl.task.prems'></prems>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="panel panel-default panel-border">
				<div class="panel-heading">
					活动成本承担方和承担比例
					<a href="javascript:;" class="btn btn-primary" ng-click="taskCtrl.AddcostSources()">添加</a>
					ps:承担比例总和为:100%
				</div>
				<div class="panel-body">
					<div class="input-group col-xs-5 mt10" ng-repeat="item in taskCtrl.task.costSources">
						<div class="input-group-addon">承担方选择</div>
						<select name={{'resource'+$index}} required id=""  ng-class="{'error-input':add.{{'resource'+$index}}.$error.required&&add.{{'resource'+$index}}.$touched}"   class="form-control" ng-model='item.costSourceId' ng-options="a.id as a.name for a in taskCtrl.resource"
							style="min-width:150px;">
						<option value="" selected >请选择</option>
					</select>
						<div class="input-group-addon">|&nbsp;&nbsp;承担比例</div>
						<input type="text" required class="form-control"  ng-class="{'error-input':add.{{'ratio'+$index}}.$error.required&&add.{{'ratio'+$index}}.$touched}"  ng-model='item.ratio' name={{'ratio'+$index}} >
						<div class="input-group-addon">%</div>
						<div class="input-group-btn"><a href="javascript:;" ng-click="taskCtrl.DelcostSources()" class="btn btn-red">删除</a></div>
						<div class="table-row">
							<p class="d_cell"></p>
							<p class="d_cell error-text">
								<span ng-show="add.{{'resource'+$index}}.$error.required&&add.{{'resource'+$index}}.$touched">选项为必填</span>
							</p>
							<p class="d_cell"></p>
							<p class="d_cell error-text">
								<span ng-show="add.{{'ratio'+$index}}.$error.required&&add.{{'ratio'+$index}}.$touched">内容不能为空</span>
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 taskBtn">
				<button href="javascript:;" class="btn btn-primary">保存</button>
				<a href="javascript:;" class="btn btn-primary" onclick="history.go(-1)">返回</a>
			</div>
		</div>
</form>