<form name='update' ng-submit="UpdateTaskCtrl.UpTask()">
	<div class="task">
		<div class="panel panel-default panel-border">
			<div class="panel-heading">活动基本信息</div>
			<div class="panel-body">
				<!--<div class="form-lyout">
				<div class="form-title">活动名称</div>
				<div class="form-layout">
					<input type="text" class='form-control' placeholder="请输入活动名称" ng-model='UpdateTaskCtrl.data.name'>
				</div>
			</div>-->

				<div class="form-group" ng-class="{'has-error':update.name.$error.required&&update.name.$touched}">
					<label for="">活动名称</label>
					<input type="text" name='name' class="form-control" required placeholder="请输入活动名称" ng-model='UpdateTaskCtrl.data.name'>
					<p class="error-text" ng-if='update.name.$error.required&&update.name.$touched'>名称不能为空</p>
				</div>

				<!--<div class="form-lyout">
					<div class="form-title">是否有效</div>
					<div class="form-layout">
						<label class="radio-inline">
					  <input type="radio" name="enabled" value="true" ng-model='UpdateTaskCtrl.data.enabled'  ng-checked="UpdateTaskCtrl.data.enabled==true" > 是
					</label>
						<label class="radio-inline">
					  <input type="radio" name="enabled" value="false" ng-model='UpdateTaskCtrl.data.enabled' ng-checked="UpdateTaskCtrl.data.enabled==false"> 否
					</label>
					</div>
				</div>-->

				<div class="form-group w200p" ng-class="{'has-error':update.enabled.$error.required&&update.enabled.$touched}">
					<label for="">是否启用</label>
					<select name="enabled" id="" class="form-control" ng-model='UpdateTaskCtrl.data.enabled'>
						<option value="" selected hidden>请选择</option>
						<option value="true">是</option>
						<option value="false">否</option>
					</select>
					<p class="error-text" ng-if='update.enabled.$error.required&&update.enabled.$touched'>选项为必填</p>
				</div>

				<div class="form-group" ng-class="{'has-error':update.priority.$error.required&&update.priority.$touched}">
					<label for="">活动优先级</label>
					<input name="priority" required type="text" class="form-control" ng-model='UpdateTaskCtrl.data.priority' placeholder="请输入优先级范围(1~120)">
					<p class="error-text" ng-if='update.priority.$error.required&&update.priority.$touched'>选项为必填</p>
				</div>

				<!--<div class="form-lyout">
					<div class="form-title">活动优先级</div>
					<div class="form-layout">
						<input type="number" class='form-control' ng-model='UpdateTaskCtrl.data.priority' placeholder="请输入优先级范围(1~120)">
					</div>
				</div>-->
				<!--<div class="form-lyout">
					<div class="form-title">活动排他性</div>
					<div class="form-layout">
						<div class="col-xs-6">
							<div class="radio">
								<label>
						    <input type="radio" name="exclusive" ng-model='UpdateTaskCtrl.data.exclusive' ng-checked="UpdateTaskCtrl.data.exclusive"  value="true"   >
						    是
						  </label>
							</div>
							<div class="radio">
								<label>
						    <input type="radio" name="exclusive" ng-model='UpdateTaskCtrl.data.exclusive' ng-checked="UpdateTaskCtrl.data.exclusive==false"  value="false" >
						    否
						  </label>
							</div>
						</div>
					</div>
				</div>-->

				<div class="form-group" ng-class="{'has-error':update.exclusive.$error.required&&update.exclusive.$touched}">
					<label for="">活动排他性</label>
					<select name="exclusive" id="" ng-model="UpdateTaskCtrl.data.exclusive" required class="form-control w200p">
						<option value="" selected hidden>请选择</option>
						<option value="true">是</option>
						<option value="false">否</option>
					</select>
					<p class="error-text" ng-if='update.exclusive.$error.required&&update.exclusive.$touched'>选项为必填</p>
				</div>
				<!--<div class="form-lyout">
					<div class="form-title">活动简介</div>
					<div class="form-layout">
						<textarea name="" id="" cols="30" class='form-control' ng-model='UpdateTaskCtrl.data.description' placeholder="请输入活动简介" rows="10"></textarea>
					</div>
				</div>-->
				<div class="form-group" ng-class="{'has-error':update.description.$error.required&&update.description.$touched}">
					<label for="">活动简介</label>
					<textarea name="description" id="" required cols="30" class='form-control' ng-model='UpdateTaskCtrl.data.description' placeholder="请输入活动简介"
						rows="10"></textarea>
					<p class="error-text" ng-if='update.description.$error.required&&update.description.$touched'>选项为必填</p>
				</div>
				<!--<div class="panel panel-default panel-border">
			<div class="panel-heading">参与活动的对象及范围</div>
			<div class="panel-body">
				<div class="radio">
					<label>
			    <input type="radio" name="userType"  ng-model='UpdateTaskCtrl.data.userType' value="ALL_USER">
			    全部用户
			  </label>
				</div>
				<div class="radio">
					<label>
			    <input type="radio" name="userType"  ng-model='UpdateTaskCtrl.data.userType' value="NEW_USER">
			    新注册用户
			  </label>
				</div>
			</div>
		</div>-->

				<div class="form-group w200p" ng-class="{'has-error':update.userType.$error.required&&update.userType.$touched}">
					<label for="">参与活动的对象及范围</label>
					<select name="userType" id="" ng-model='UpdateTaskCtrl.data.userType' required class="form-control">
					<option value="" selected hidden >请选择</option>
					<option value="ALL_USER">全部用户</option>
					<option value="NEW_USER">新注册用户</option>
					<p class="error-text"  ng-if='update.userType.$error.required&&update.userType.$touched'>选项为必填</p>
				</select>
				</div>

				<div class="form-group w200p" ng-class="{'has-error':update.storeType.$error.required&&update.storeType.$touched}">
					<label for="">参与区域</label>
					<select name="storeType" id="" ng-model='UpdateTaskCtrl.data.storeType' required class="form-control">
					<option value="" selected hidden >请选择</option>
					<option value="ALL_STORE">全部门店</option>
					<option value="SELECTED_STORE">部分门店</option>
					<p class="error-text"  ng-if='update.storeType.$error.required&&update.storeType.$touched'>选项为必填</p>
				</select>
				</div>
				<stores ng-show="UpdateTaskCtrl.data.storeType=='SELECTED_STORE'" returnlist="UpdateTaskCtrl.data.promotionStoreList"></stores>
			</div>
			<!--<div class="panel panel-default panel-border">
			<div class="panel-heading">参与区域</div>
			<div class="panel-body">
				<div class="radio">
					<label>
			    <input type="radio" name="storeType" ng-model='UpdateTaskCtrl.data.storeType' value='ALL_STORE'>
			    全部门店
			  </label>
				</div>
				<div class="radio">
					<label>
			    <input type="radio" name="storeType" ng-model='UpdateTaskCtrl.data.storeType' value='SELECTED_STORE'>
			    部分门店
			  </label>
				</div>
				<stores ng-show="UpdateTaskCtrl.data.storeType=='SELECTED_STORE'" returnlist="UpdateTaskCtrl.data.promotionStoreList"></stores>
			</div>
		</div>-->
			<div class="panel panel-default panel-border">
				<div class="panel-heading">参与时间与次数</div>
				<div class="panel-body">
					<div class="col-xs-8 p0">
						<div class="dropdown dib" style="width:400px;">
							<a class="dropdown-toggle" id="dropdown1" role="a" data-toggle="dropdown" data-target="#" href="javascript:;">
								<div class="input-group">
									<span class="input-group-addon">开始时间</span>
									<input type="text" class="form-control" data-ng-model="UpdateTaskCtrl.data.startTime | date:'yyyy-MM-dd HH:mm'">
									<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
								</div>
							</a>
							<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
								<datetimepicker data-ng-model="UpdateTaskCtrl.data.startTime " modelType='Date' date='Date' data-datetimepicker-config="{ dropdownSelector: '#dropdown1' }"
								/>
							</ul>
						</div>
						<div class="dropdown dib" style="width:400px;">
							<a class="dropdown-toggle" id="dropdown2" role="a" data-toggle="dropdown" data-target="#" href="javascript:;">
								<div class="input-group">
									<span class="input-group-addon">结束时间</span>
									<input type="text" class="form-control" data-ng-model="UpdateTaskCtrl.data.endTime | date:'yyyy-MM-dd HH:mm'">
									<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
								</div>
							</a>
							<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
								<datetimepicker data-ng-model="UpdateTaskCtrl.data.endTime" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"
								/>
							</ul>
						</div>
					</div>
					<div class="col-xs-12 p0">
						<div class="from-group">
							<label for="">参与次数</label>
							<select name="timesLimitType" ng-model="UpdateTaskCtrl.data.timesLimitType" required id="" class="form-control w200p">
								<option value="NO_LIMIT">无限制</option>
								<option value="CONTINUOUS">限制次数</option>
								<option value="RECURRENT">限制周期&nbsp;周期</option>
							</select>
						</div>


						<div class="from-group" ng-if="update.timesLimitType.$viewValue=='RECURRENT'" ng-class="{'has-error':update.timesLimitCycle.$error.required&&update.timesLimitCycle.$touched}">
							<label for="">限制周期次数</label>
							<div class="input-group">
								<input type="text" name="timesLimitCycle" required ng-model='UpdateTaskCtrl.data.timesLimitCycle' class="form-control">
								<div class="input-group-addon">天</div>
							</div>
							<p class="error-text" ng-if='update.timesLimitCycle.$error.required&&update.timesLimitCycle.$touched'>参与次数为限制周期时次数为必填</p>
						</div>

						<div class="from-group" ng-if="update.timesLimitType.$viewValue=='CONTINUOUS'||update.timesLimitType.$viewValue=='RECURRENT'"
							ng-class="{'has-error':update.timesLimit.$error.required&&update.timesLimit.$touched}">
							<label for="">限制次数</label>
							<div class="input-group">
								<input type="text" name="timesLimit" ng-model="UpdateTaskCtrl.data.timesLimit" required class="form-control">
								<div class="input-group-addon">次</div>
							</div>
							<p class="error-text" ng-if='update.timesLimit.$error.required&&update.timesLimit.$touched'>参与次数为限制次数或者周期次数时，当前选项为必填</p>
						</div>
						<!--
						<div class="form-lyout">
							<div class="form-title">参与次数</div>
							<div class="form-layout">
								<div class="radio">
									<label>
						    <input type="radio" name="timesLimitType" ng-model='UpdateTaskCtrl.data.timesLimitType' value="NO_LIMIT">
						    无限制
						  </label>
								</div>
								<div class="radio">
									<label>
						    <input type="radio" name="timesLimitType" ng-model='UpdateTaskCtrl.data.timesLimitType' value="CONTINUOUS">
						    限制次数
						  </label>
									<input type="text" ng-disabled="UpdateTaskCtrl.data.timesLimitType!='CONTINUOUS'" class="input_radio" ng-model='UpdateTaskCtrl.data.timesLimit'>次
								</div>
								<div class="radio">
									<label>
						    <input type="radio" name="timesLimitType" ng-model='UpdateTaskCtrl.data.timesLimitType' value="RECURRENT">
						    限制周期&nbsp;周期
							<input type="text" ng-model='UpdateTaskCtrl.data.timesLimitCycle' ng-disabled="UpdateTaskCtrl.data.timesLimitType!='RECURRENT'" class="input_radio">
							天内
							<input type="text" ng-model='UpdateTaskCtrl.data.timesLimit' ng-disabled="UpdateTaskCtrl.data.timesLimitType!='RECURRENT'" class="input_radio">
							次
						  </label>
								</div>
							</div>
						</div>-->
					</div>
				</div>
			</div>
			<div class="panel panel-default panel-border">
				<div class="panel-body">
					<div class="form-lyout">
						<div class="form-title">选择促销商品范围:</div>
						<div class="form-layout">
							<label class="radio-inline">
						<input type="radio" name="productType" value="ALL_PRODUCT" ng-model='UpdateTaskCtrl.data.productType' > 全场通用
					</label>
							<label class="radio-inline">
						<input type="radio" name="productType" value="SELECTED_PRODUCT" ng-model='UpdateTaskCtrl.data.productType' > 限定单品
					</label>
						</div>
					</div>
					<goods ng-show="UpdateTaskCtrl.data.productType=='SELECTED_PRODUCT'" returnlist='UpdateTaskCtrl.data.promotionProductList'></goods>
				</div>
			</div>
			<div class="panel panel-default panel-border" ng-show="UpdateTaskCtrl.data.productType=='SELECTED_PRODUCT'">
				<div class="panel-body">
					<div class="form-lyout">
						<div class="form-title">商品限购</div>
						<div class="form-layout">
							<div class="radio">
								<label>
						    <input type="radio" name="productCountLimit" ng-model='UpdateTaskCtrl.data.productCountLimit' ng-checked="UpdateTaskCtrl.data.productCountLimit==0"  value="0">
						    不限数量
						  </label>
							</div>
							<div class="radio">
								<label>
						    <input type="radio" name="productCountLimit" ng-checked="!UpdateTaskCtrl.data.productCountLimit==0"  ng-model='UpdateTaskCtrl.data.productCountLimit' value="10">
						    限制<input type="text" ng-disabled="productCountLimit==0" ng-click="productCountLimit=1" class="input_radio" ng-model='UpdateTaskCtrl.data.productCountLimit'>件
						  </label>

							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="panel panel-default panel-border">
				<div class="panel-heading">活动促销方式</div>
				<div class="panel-body">
					<div class="form-group w200p">
						<label for="">订单金额</label>
						<select name="" id="" ng-model="UpdateTaskCtrl.data.isDetail" class="form-control">
							<option value="" selected hidden>请选择</option>
							<option value="false">订单无关</option>
							<option value="true">订单到一定金额</option>
						</select>
					</div>

					<div class="input-group w200p" ng-if="UpdateTaskCtrl.data.isDetail==true" ng-class="{'has-error':update.amountLimit.$error.required&&update.amountLimit.$touched}">
						<input type="text" name="amountLimit" required ng-model="UpdateTaskCtrl.data.amountLimit" class="form-control">
						<div class="input-group-addon">元</div>
					</div>
					<p class="error-text" ng-if='update.amountLimit.$error.required&&update.amountLimit.$touched'>订单金额有限制时，当前选项为必填</p>



					<!--<label class="radio-inline">
						<input type="radio" name="amount" value="0" ng-model='UpdateTaskCtrl.data.amountLimit' ng-checked="UpdateTaskCtrl.data.amountLimit==0" > 订单无关
					</label>
							<label class="radio-inline">
						<input type="radio" name="amount" value="10" ng-model='UpdateTaskCtrl.data.amountLimit' ng-checked="UpdateTaskCtrl.data.amountLimit!=0" > 订单满
						<input type="text" class="input_radio" ng-model="UpdateTaskCtrl.data.amountLimit" >元
					</label>-->
				</div>
			</div>
			<div class="panel panel-default panel-border">
				<div class="panel-heading">请选择优惠方式</div>
				<div class="panel-body">
					<div class="col-xs-12 m0 p0">
						<div class="col-xs-4 m0 p0">

							<div class="form-group">
								<label for="">请选择优惠方式</label>
								<select name="type" required id="" ng-model="UpdateTaskCtrl.data.type" class="form-control w200p">
									<option value="CUT">订单减免</option>
									<option value="RANDOM_CUT">随机减免</option>
									<option value="GIFT">订单赠品</option>
									<option value="COUPON">优惠券</option>
								</select>
							</div>

							<!--<div class="radio">
								<label>
									<input type="radio" name="type" value="CUT" ng-change="hide=true;hide2=false;hide3=false;" ng-model='UpdateTaskCtrl.data.type' > 
									订单减免
									<input type="text" ng-disabled="UpdateTaskCtrl.data.type!='CUT'"  ng-model='UpdateTaskCtrl.data.formulaParameterMap.cutAmount' class="input_radio">
									元
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="type" value="RANDOM_CUT" ng-change="hide2=true;hide3=false;hide=false;" ng-model='UpdateTaskCtrl.data.type' >随机减免
								</label>
							</div>
							<div class="radio">
								<label>
								<input type="radio" name="type" value="GIFT" ng-model='UpdateTaskCtrl.data.type' > 订单赠品
							</label>
							</div>-->
							<!--<div class="radio">
						<label>
							<input type="radio" name="type" value="GIFT" ng-model='UpdateTaskCtrl.data.type' > 连贯促销
						</label>
					</div>-->
						</div>
						<div class="col-xs-8 P0" ng-if="UpdateTaskCtrl.data.type=='CUT'" ng-class="{'has-error':update.cutAmount.$error.required&&update.cutAmount.$touched}">
							<label for="">减免</label>
							<div class="input-group">
								<input type="text" name='cutAmount' required ng-model="UpdateTaskCtrl.data.formulaParameterMap.cutAmount" class="form-control">
								<div class="input-group-addon">元</div>
							</div>
							<p class="error-text" ng-if='update.cutAmount.$error.required&&update.cutAmount.$touched'>优惠方式为订单减免时此项为必填项</p>
						</div>
						<div class="col-xs-8 p0" ng-if="UpdateTaskCtrl.data.type=='COUPON'" >
							<label for="">优惠券列表</label>
							<select name="" id="" ng-model='UpdateTaskCtrl.data.couponTemplateId' class="form-control" ng-options="a.id as a.name for a in UpdateTaskCtrl.CouponList">
								<option value="" selected hidden >{{UpdateTaskCtrl.data.couponTemplate.name}}</option>
							</select>
						</div>
						<div class="col-xs-8 P0" ng-if="UpdateTaskCtrl.data.type=='RANDOM_CUT'">
							<div class='panel panel-default panel-border'>
								<div class="panel-heading">
									<a class="btn btn-primary" ng-click="UpdateTaskCtrl.Addinterval()">添加</a>
									<span>ps:1元至5元总概率50%,总规则概率为100%</span>
								</div>
								<div class="panel-body">
									<div class='admin-input-lyout' ng-repeat="list in UpdateTaskCtrl.interval">
										<div class="admin-input-title">规则:</div>
										<div class='admin-input'>
											<input type="text" ng-model='list.start' required name={{ 'start'+$index}} ng-class="{'error-input':update.{{'start'+$index}}.$error.required&&update.{{'start'+$index}}.$touched}">
											<span>元至</span>
											<input type="text" ng-model="list.end" required name={{ 'end'+$index}} ng-class="{'error-input':update.{{'end'+$index}}.$error.required&&update.{{'end'+$index}}.$touched}">
											<span>元总概率</span>
											<input type="text" ng-model="list.count" required name={{ 'count'+$index}} ng-class="{'error-input':update.{{'count'+$index}}.$error.required&&update.{{'count'+$index}}.$touched}">
											<span>%</span>
											<a class="btn btn-red" ng-click="UpdateTaskCtrl.Delinterval($index)">删除</a>
											<p>
												<span ng-show="update.{{'start'+$index}}.$error.required&&update.{{'start'+$index}}.$touched||update.{{'end'+$index}}.$error.required&&update.{{'end'+$index}}.$touched||update.{{'count'+$index}}.$error.required&&update.{{'count'+$index}}.$touched"
													style="padding-left:10px;display:block;" class="error-text">
													选项不可为空!&nbsp;&nbsp;ps:1元至5元总概率为20%
												</span>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-8 P0" ng-if="UpdateTaskCtrl.data.type=='GIFT'">
							<div class='panel panel-default panel-border'>
								<div class="panel-heading">
									赠品列表
								</div>
								<div class="panel-body">
									<prems returnlist='UpdateTaskCtrl.data.promotionGiftList'></prems>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="">
							请填写活动成本承担方和承担比例
							<a class="btn btn-primary"  ng-click="UpdateTaskCtrl.AddcostSources()">添加</a>
						</label>
						<div class="input" ng-repeat="item in UpdateTaskCtrl.data.promotionCostSourceList">
							<div class="input-tit">承担方选择</div>
							<select name={{ 'costSourceId'+$index}} ng-class="{'error-input':update.{{'costSourceId'+$index}}.$error.required&&update.{{'costSourceId'+$index}}.$touched}"
								required ng-model='item.costSource.id' class="input-text" ng-options="a.id as a.name for a in UpdateTaskCtrl.resource">
								<option value="" hidden selected >请选择</option>
							</select>
							<div class="input-tit">承担比例</div>
							<input type="text" class="input-text" required ng-model='item.ratio' name={{ 'ratio'+$index}} ng-class="{'error-input':update.{{'ratio'+$index}}.$error.required&&update.{{'ratio'+$index}}.$touched}">
							<div class="input-btn">
								%&nbsp;&nbsp;
								<a class="btn btn-red" ng-click="UpdateTaskCtrl.data.promotionCostSourceList.splice($index,1)">删除</a>
							</div>
							<div class="table-row">
								<div class="d_cell"></div>
								<div class="d_cell error-text" style="width:230px;">
									<span ng-show="update.{{'costSourceId'+$index}}.$error.required&&update.{{'costSourceId'+$index}}.$touched">选项为必填</span>
								</div>
								<div class="d_cell"></div>
								<div class="d_cell error-text" style="width:230px;">
									<span ng-show="update.{{'ratio'+$index}}.$error.required&&update.{{'ratio'+$index}}.$touched">选项为必填</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="panel panel-default panel-border" ng-if="false">
				<div class="panel-heading">
					活动成本承担方和承担比例
					<a class="btn btn-primary" ng-click="UpdateTaskCtrl.AddcostSources()">添加</a>
				</div>
				<div class="panel-body">
					<div class="input-group has-error col-xs-4 mt10" ng-repeat="item in UpdateTaskCtrl.data.promotionCostSourceList">
						<div class="input-group-addon">承担方选择</div>
						<select name="" id="" class="form-control" ng-model='item.costSource.id' ng-options="a.id as a.name for a in UpdateTaskCtrl.resource"
							style="min-width:150px;">
						<option value="" selected hidden >{{item.costSource.name}}</option>
					</select>
						<div class="input-group-addon">|&nbsp;&nbsp;承担比例</div>
						<input type="text" class="form-control" ng-model='item.ratio'>
						<div class="input-group-addon">%</div>
						<div class="input-group-btn"><a href="javascript:;" ng-click="UpdateTaskCtrl.data.promotionCostSourceList.splice($index)" class="btn ml5 btn-red">删除</a></div>
					</div>
				</div>
			</div>



			<div class="col-xs-12 taskBtn">
				<button class="btn btn-primary">保存</button>
				<a href="javascript:;" class="btn btn-primary" onclick="history.go(-1)">返回</a>
			</div>
		</div>
</form>