.opera_layer{display: none;}
.main-content{background: #eee;}
.fa-icon-right{margin-right: 5px;}
.fa-icon-left{margin-left: 5px;}
.list{padding: 0;background: white;margin: 0;margin-top: 40px;}
.list-table{border: 1px solid #dfdfdf}
.list-header{margin: 0px 0 15px 0px;padding: 0;}
.list-lyout{margin: 0px 0 15px 0px;padding: 0;}
.list-header .col-xs-6{margin: 0;padding: 0;}
p{margin-bottom: 0;color: #333;}
td{vertical-align: middle!important;}
th{vertical-align: middle!important;height: 51px;}
.table{margin-bottom: 0px;}
.mr10{margin-right: 10px;vertical-align: inherit;}
.pagination-sm{margin-right: -15px;}
.ng-table-counts{margin: 20px 0;}
.input-inline-block{display: inline-block;width: auto;}
.input-disabled{border:0;box-shadow:none;background-color: transparent!important;cursor: default!important;}
.panel-heading .col-xs-6{  padding: 0;  margin: 0;}
.mt10{  margin: 10px 0;  padding: 0;}
.d_table {  display: table;  margin-top: -7px;
    width: 100%;}
.d_tables {  display: table;  margin-top: -7px;  }
.d_tell{display: table-cell;}
.tit_text {  width: 130px;  vertical-align: middle;  }
.z0{z-index: 0;}
.upload{  margin-top: -34px;  width: 100%;  height: 34px;  z-index: 1;  opacity: 0;  }
.input-border{border: 1px solid #ccc;}
.select-control-calc{width:258px!important;}
.text-center>th{text-align: center;}
.update-lyout{margin: 10px;}
.update-lyout .input-group{width: 100%;}
.update-lyout .input-group-addon{width:80px;}

.alertDiv{display: none;}
.alertDiv .alertDiv-tit{height: 50px;text-align: center;line-height: 50px;}
.alertDiv p{margin-bottom: 10px;margin-left: 10px;}
.alertDiv textarea{margin: 0 10px;width: calc(100% - 20px);resize: none;margin-bottom: 10px;}
.c0{margin: 0;padding: 0;}
.count{padding:0 10px;display: none;}
.count p{margin: 0;height: 30px;line-height: 30px;color: black;}
.count i{font-style: normal;vertical-align: middle;}
.count .count-title{height: 50px;line-height: 50px;text-align: center;font-size: 16px;color: #333;margin: 0;}
.count .count-lyout table{width: 100%;border:1px solid black;margin-bottom: 20px;}
.count .count-lyout table tr{height: 40px;border:1px solid black;}
.count .count-lyout table tr td{height: 40px;border:1px solid black;padding-left: 10px;}
.count-detail{padding:0 10px;display: none;}
.count-detail i{font-style: normal;vertical-align: middle;}
.count-detail .detail-title{height: 50px;line-height: 50px;text-align: center;position: relative;}
.count-detail .detail-title a{position: absolute;right: 0px;top:10px;}
.count-detail .detail-lyout table{width: 100%;border:1px solid black;margin-bottom: 20px;}
.count-detail .detail-lyout table tr{height: 40px;border:1px solid black;}
.count-detail .detail-lyout table tr td,th{height: 40px;border:1px solid black;text-align: center;}
.detail-layout{margin: 10px 0;}
.detail-layout p{margin-left: 10px;display: inline-block;}
.detail-layout p span{color: red;}
.count{padding:0 10px;display: none;}
.credential{padding:0 10px;display: none;}
.credential i{font-style: normal;vertical-align: middle;}
.credential .credential-title{height: 50px;line-height: 50px;text-align: center;font-size: 16px;color: #333;margin: 0;position: relative;}
.credential .credential-content table {width: 100%;border:1px solid black;}
.credential .credential-content table tr{height: 40px;border:1px solid black;}
.credential .credential-content table tr td{height: 40px;border:1px solid black;padding-left: 10px;}
.count,.count-detail,.credential{position: relative;width: 100%;}
.count,.count-detail,.credential .printBtn{position: absolute;top:10px;right: 0;}
.user-info-menu li{min-height: 0!important;}
.user-profile{min-height: 0!important;}
.user-info-navbar{margin: -30px -30px 0px;}
.breadcrumb.bc-2{height: 120px;border-top: 2px solid #dfdfdf;border-bottom: 2px solid #dfdfdf;margin: 0 -45px;padding: 0 25px;background:#f7f7f7;}
.breadcrumb.bc-2 li{height: 120px;line-height: 120px;}
.m0{margin: 0;}
.p0{padding: 0;}
/****end****/