<div class="update-lyout text-center">
    <div class="input-group z0">
        <span class="input-group-addon">{{logoname}}</span>
        <input type="text" class="form-control ng-pristine ng-untouched ng-valid"  nv-file-select="" uploader="img" >
        <span class="input-group-btn">
            <button class="btn btn-primary" type="button">浏览..</button>
        </span>
    </div>
    <input type="file" class="upload" ng-model='img' >
    <img ng-src="{{SupplierLogolistCtrl.infolist.logo}}" alt="" height="200" style="margin-top:10px;">
    <button class="btn btn-primary" ng-click="test()">点击</button>
</div>