<div class="mt10" >
	<div class="panel panel-default panel-border">
		<div class="panel-heading">新建语音推送</div>
		<div class="panel-body">
			<div class="form-lyout">
				<div class="form-title">语音名称</div>
				<div class="form-layout">
					<input type="number" class='form-control' ng-model='AddMusicCtrl.music.priority' placeholder="请输入优先级范围(1~120)">
				</div>
			</div>
			<div class="form-lyout">
				<div class="form-title">是否有效</div>
				<div class="form-layout">
					<label class="radio-inline">
					<input type="radio" name="enabled" value="ALL_PRODUCT" ng-model='AddMusicCtrl.music.productType' > 否
				</label>
					<label class="radio-inline">
					<input type="radio" name="enabled" value="ALL_PRODUCT" ng-model='AddMusicCtrl.music.productType' > 是
				</label>
				</div>
			</div>
			<div class="form-lyout">
				<div class="form-title">语音类型</div>
				<div class="form-layout">
					<label class="radio-inline">
					<input type="radio" name="enabled" value="ALL_PRODUCT" ng-model='AddMusicCtrl.music.productType' > 系统语音
				</label>
					<label class="radio-inline">
					<input type="radio" name="enabled" value="ALL_PRODUCT" ng-model='AddMusicCtrl.music.productType' > 营销语音
				</label>
				</div>
			</div>
			<div class="form-lyout">
				<div class="form-title">语音内容</div>
				<div class="form-layout">
					<textarea name="" class='form-control' id="" cols="30" rows="10"></textarea>
				</div>
			</div>
			<div class="form-lyout">
				<div class="form-title">参与区域</div>
				<div class="form-layout">
					<div class="radio">
						<label>
				    <input type="radio" name="exclusives" value="true"  ng-model='AddMusicCtrl.music.exclusive' checked>
				    全部门店
				  </label>
					</div>
					<div class="radio">
						<label>
				    <input type="radio" name="exclusives" value="true"  ng-model='AddMusicCtrl.music.exclusive' checked>
				    部分门店
				  </label>
					</div>
				</div>
			</div>
			<div class="form-lyout">
				<div class="form-title">门店筛选</div>
				<div class="form-layout">
					<stores list ='AddMusicCtrl.stores' data-ng-if="AddMusicCtrl.stores" ></stores>
				</div>
			</div>
			<div class="form-lyout">
				<div class="form-title">播放时间段</div>
				<div class="form-layout">
					<div class="col-xs-6 col-offset-xs-6">
						<div class="input-group mt10">
							<div class="input-group-addon">从</div>
							<input type="text" class="form-control date" name='startTime' onclick="laydate()" ng-model='AddMusicCtrl.music.startTime'>
							<div class="input-group-addon">到</div>
							<input type="text" class="form-control date" name='endTime' onclick="laydate()" ng-model='AddMusicCtrl.music.endTime'>
						</div>
						<div class="input-group">
							<div class="input-group-addon">从</div>
							<input type="text" class="form-control date" name='startTime' onclick="laydate()" ng-model='AddMusicCtrl.music.startTime'>
							<div class="input-group-addon">到</div>
							<input type="text" class="form-control date" name='endTime' onclick="laydate()" ng-model='AddMusicCtrl.music.endTime'>
						</div>
					</div>
				</div>
			</div>
			<div class="form-lyout">
				<div class="form-title">播放日期</div>
				<div class="form-layout">
					<div class="col-xs-6 col-offset-xs-6">
						<div class="input-group">
							<div class="input-group-addon">从</div>
							<input type="text" class="form-control date" name='startTime' onclick="laydate()" ng-model='AddMusicCtrl.music.startTime'>
							<div class="input-group-addon">到</div>
							<input type="text" class="form-control date" name='endTime' onclick="laydate()" ng-model='AddMusicCtrl.music.endTime'>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script  type="text/ng-template" id="Storescheck.html" >
	<input type="checkbox" ng-click='AddMusicCtrl.All("AddStore")' >
</script>