<div class="list col-xs-12">
    <div class="list-header col-xs-12">
        <div class="col-xs-6">
            <a href="javascript:;" class="btn btn-primary" ui-sref="addgood">新增</a>
        </div>
    </div>
    <div class="list-lyout col-xs-12">
        <div class="list-table">
            <div class="panel-body">
                <table ng-table="GoodlistCtrl.tableParams" class="table table-bordered table-striped table-condensed text-center">
                    <tr ng-repeat="item in $data">
                        <td data-title="'门店名称'" filter="{name: 'text'}" sortable="'name'">{{item.name}}</td>
                        <td data-title="'商品编号'" filter="{serialNumber: 'text'}" sortable="'serialNumber'">{{item.serialNumber}}</td>
                        <td data-title="'供应商品牌'" filter="{'providerBrand.name': 'text'}" sortable="'providerBrand.name'">{{item.providerBrand.name}}</td>
                        <td data-title="'连锁品牌'" filter="{'brand.name': 'number'}" sortable="'brand.name'">{{item.brand.name}}</td>
                        <td data-title="'商品规格'"><a href="javascript:;" ui-sref='format({id:item.id})'>查看</a></td>
                        <td data-title="'上下架状态'">{{item.onsell==true?'是':'否'}}</td>
                        <td data-title="'操作'">
                            <div class="btn-group" uib-dropdown>
                                <button id="split-button" type="button" class="btn btn-danger">操作</button>
                                <button type="button" class="btn btn-danger" uib-dropdown-toggle>
                                    <span class="caret"></span>
                                    <span class="sr-only">Split button!</span>
                                </button>
                                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button" >
                                    <li role="menuitem"><a href="javascript:;" ui-sref="gooddetail({id:item.id})"><span class="fa-trash fa-icon-right"></span>查看</a></li>
                                    <li role="menuitem"><a href="javascript:;" ui-sref="update({id:item.id})"><span class="fa-eye fa-icon-right"></span>修改</a></li>
                                    <li role="menuitem"><a href="javascript:;" ng-click="GoodlistCtrl.delBtn(item.id)"><span class="fa-edit fa-icon-right"></span>删除</a></li>
                                </ul>
                            </div>                            
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>