<div class="list">
    <div class="list-header col-xs-12">
    	 <div class="col-xs-6">
    	 	<a href="javascript:;" class="btn btn-primary" ng-click="DrawlistCtrl.openmask()">新增</a>
    	 </div>
    </div>
    <div class="list-lyout col-xs-12">
        <div class="list-table">
			<div class="panel-body">
				<table ng-table="DrawlistCtrl.tableParams" class="table table-bordered table-striped table-condensed text-center">
					<tr ng-repeat="item in $data">
						<td data-title="'门店名称'" filter="{name: 'text'}" sortable="'name'">{{item.store.name}}</td>
						<td data-title="'联系法人'" filter="{legalPerson: 'text'}" sortable="'legalPerson'">{{item.store.legalPerson}}</td>
						<td data-title="'提现金额'" filter="{amount: 'number'}" sortable="'amount'">{{item.amount}}</td>
						<td data-title="'申请时间'" filter="{createDate: 'text'}" sortable="'createDate'">{{item.createDate}}</td>
						<td data-title="'结束时间'" filter="{endDate: 'text'}" sortable="'endDate'">{{item.endDate==null? '暂无':item.endDate}}</td>
						<td data-title="'提现状态'" filter="{status: 'text'}" sortable="'status'">
							<span ng-show="item.status=='INIT'">提交审核中</span>
		                    <span ng-show="item.status=='APPROVED'">审核成功</span>
		                    <span ng-show="item.status=='FAILED'">审核失败</span>
		                    <span ng-show="item.status=='COMPLETED'">打款成功</span>
						</td>
						<td data-title="'操作'">
							<a href="javascript:;" class="btn btn-primary" ng-click="DrawlistCtrl.updateinfo(list)" ng-disabled="item.status!='INIT'" ><span class="fa-edit fa-icon-right"></span>通过</a>
							<a href="javascript:;" class="btn btn-red" ng-click="DrawlistCtrl.delinfo(list.id)"><span class="fa-trash fa-icon-right" ng-disabled="item.status!='INIT'" ></span>拒绝</a>	
						</td>		        	
					</tr>
				</table>
			</div>		
        </div>
    </div>