<div class="list">
    <div class="panel panel-default panel-border">
        <div class="panel-heading">
            <div class="col-xs-2 p0">
                订单筛选
            </div>
            <div class="pull-right p0 col-xs-4 text-right">
                <a href="javascript:;" ng-click="OrderlistCtrl.init()" class="btn btn-primary">初始化</a>
            </div>
            <div class="col-xs-4 p0  pull-right">
                <div class="input-group">
                    <div class="input-group-addon">时间</div>
                    <input type="text" class="form-control" uib-datepicker-popup ng-model="time" is-open="open1" datepicker-options="dateOptions"
                        ng-required="true" close-text="关闭" clear-text='清空' current-text='今天' />
                    <span class="input-group-btn vt">
                        <button type="button" class="btn btn-white" ng-click="open1=true"><i class="glyphicon glyphicon-calendar"></i></button>
                        <button ng-click="OrderlistCtrl.execl(time)" class="btn btn-white">导出订单</button>
                    </span>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="col-xs-12 mt10 p0">
                <div class="col-xs-3 p0">
                    <div class="input-group">
                        <div class="input-group-addon">取餐号</div>
                        <input type="text" ng-model="OrderlistCtrl.get.id" class="form-control">
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="input-group">
                        <div class="input-group-addon">提现状态</div>
                        <select name="" class="form-control" ng-model="OrderlistCtrl.get.status">
                            <option value="" selected >请选择</option>
                            <option value="PAY_INIT">支付渠道确认</option>
                            <option value="UNPAID">待支付</option>
                            <option value="PAID">支付完成，待发货</option>
                            <option value="ARRIVED">已到达</option>
                            <option value="COMPLETED">发货完成</option>
                            <option value="FAIL">支付失败</option>
                            <option value="REFUND_APPLY">退款申请</option>
                            <option value="REFUND_APPROVED">退款通过</option>
                            <option value="REFUND_COMPLETED">退款成功</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="input-group">
                        <div class="input-group-addon">门店</div>
                        <select name="" id="" class="form-control" ng-model="OrderlistCtrl.get.storeId" ng-options="a.id as a.name for a in OrderlistCtrl.stores" >
                            <option value="" selected>请选择</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-3 p0">
                    <div class="input-group">
                        <div class="input-group-addon">订单来源</div>
                        <select name="" id="" class="form-control" ng-model='OrderlistCtrl.get.source' >
                            <option value="" selected>请选择</option>
                            <option value="STORE">一键付款</option>
                            <option value="WECHAT">微信公众号</option>
                            <option value="APP">APP</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 mt10 p0">
                <div class="col-xs-4 p0">
                    <div class="input-group">
                        <div class="input-group-addon">下单起始时间</div>
                        <input type="text" class="form-control" uib-datepicker-popup ng-model="OrderlistCtrl.get.createStartDate" is-open="open2" datepicker-options="dateOptions"
                            ng-required="true" close-text="关闭" clear-text='清空' current-text='今天' />
                        <span class="input-group-btn vt">
                            <button type="button" class="btn btn-white" ng-click="open2=true"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="input-group">
                        <div class="input-group-addon">下单结束时间</div>
                        <input type="text" class="form-control" uib-datepicker-popup ng-model="OrderlistCtrl.get.createEndDate" is-open="open3" datepicker-options="dateOptions"
                            ng-required="true" close-text="关闭" clear-text='清空' current-text='今天' />
                        <span class="input-group-btn vt">
                            <button type="button" class="btn btn-white" ng-click="open3=true"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 mt10 p0">
                <div class="col-xs-4 p0">
                    <div class="input-group">
                        <div class="input-group-addon">订单完成起始时间</div>
                        <input type="text" class="form-control" uib-datepicker-popup ng-model="OrderlistCtrl.get.completeStartDate" is-open="open4" datepicker-options="dateOptions"
                            ng-required="true" close-text="关闭" clear-text='清空' current-text='今天' />
                        <span class="input-group-btn vt">
                            <button type="button" class="btn btn-white" ng-click="open4=true"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="input-group">
                        <div class="input-group-addon">订单完成结束时间</div>
                        <input type="text" class="form-control" uib-datepicker-popup ng-model="OrderlistCtrl.get.completeEndDate" is-open="open5" datepicker-options="dateOptions"
                            ng-required="true" close-text="关闭" clear-text='清空' current-text='今天' />
                        <span class="input-group-btn vt">
                            <button type="button" class="btn btn-white" ng-click="open5=true"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 mt10 p0">
                <button class="btn btn-white" ng-click="OrderlistCtrl.St_order()" >搜索</button>
            </div>
        </div>
    </div>
    <div class="list-lyout col-xs-12">
        <div class="list-table">
            <table ng-table="OrderlistCtrl.tableParams" class="table table-bordered table-striped table-condensed text-center">
                <tr ng-repeat="item in $data">
                    <td data-title="'取餐号'">{{item.takeNo==null?'暂无':item.takeNo}}</td>
                    <td data-title="'门店名称'">{{item.store.name}}</td>
                    <td data-title="'手机号'">{{item.user.phoneNumber}}</td>
                    <td data-title="'订单来源'">
                        {{item.source=='STORE'?'一键付款':null}}
                        {{item.source=='WECHAT'?'微信公众号':null}}
                        {{item.source=='APP'?'app':null}}
                    </td>
                    <td data-title="'支付方式'" sortable="'channel'">
                        {{item.channel=="WECHAT_WEB"?'微信公众号':''}}
                        {{item.channel=="WECHAT_APP"?'微信支付':''}}
                        {{item.channel=="ZHIFUBAO_WEB"?'支付宝网页':''}}
                        {{item.channel=="ZHIFUBAO_APP"?'支付宝应用':''}}
                        {{item.channel==null?'线下支付':''}}
                    </td>
                    <td data-title="'完成时间'" width='150'>{{item.lastModifyDate}}</td>
                    <td data-title="'提现状态'" width="100">
                        {{item.status=='INIT'?'创建完成,待确认':null}} {{item.status=='PAY_INIT'?'支付渠道确认':null}} {{item.status=='UNPAID'?'待支付':null}} {{item.status=='PAID'?'待发货':null}}
                        {{item.status=='ARRIVED'?'已到达':null}} {{item.status=='COMPLETED'?'发货完成':null}} {{item.status=='FAIL'?'支付失败':null}}
                        {{item.status=='REFUND_APPLY'?'退款申请':null}} {{item.status=='REFUND_APPROVED'?'退款通过':null}} {{item.status=='REFUND_COMPLETED'?'退款成功':null}}
                    </td>
                    <td data-title="'操作'" width='100'>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                            <li role="menuitem"><a href="javascript:;" ui-sref="Virtual({id:item.id})">查看详情</a></li>
                            <li role="menuitem"><a href="javascript:;" ui-sref="VirtualGood" ng-show="item.status=='REFUND_APPLY' || item.status=='COMPLETED'">确认退款</a></li>
                        </ul>
                        <div class="btn-group" uib-dropdown>
                            <button id="split-button" type="button" class="btn btn-danger">操作</button>
                            <button type="button" class="btn btn-danger" uib-dropdown-toggle>
                                    <span class="caret"></span>
                                    <span class="sr-only">Split button!</span>
                                </button>
                            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                                <li role="menuitem"><a href="javascript:;" ui-sref="Virtual({id:item.id})">查看详情</a></li>
                                <li role="menuitem"><a href="javascript:;" ng-click="OrderlistCtrl.compel(item.id)" ng-show="item.status=='REFUND_APPLY' || item.status=='COMPLETED'">确认退款</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>